
<form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
  <div class="col-md-6">
    <label for="from" class="form-label">From</label>
      <select class="form-control" name="source" [(ngModel)]="model.source">
        <option selected>Select an option</option>
        <option *ngFor="let city of cities" [value]="city">
          {{city}}
        </option>
      </select>
  </div>

  <div class="col-md-6">
    <label for="from" class="form-label">to</label>
    <select class="form-control" name="destination" [(ngModel)]="model.destination">
      <option selected>Select an option</option>
      <option *ngFor="let city of cities" [value]="city">
        {{city}}
    </option>
    </select>
  </div>
      <div class="col-md-6">
        <label for="depart" class="form-label">Depart</label>
        <input class="form-control" type="date" value="2021-08-19" id="example-date-input" [(ngModel)]="model.departure_time" (ngModelChange)="changeFn($event)">
  </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Search Fligths</button>
    </div>
  </form>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Airline</th>
        <th scope="col">Outbound</th>
        <th scope="col">Return</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let flight of flights">
        <th scope="row">{{flight.airline}}</th>
        <td>{{flight.departure_time}}</td>
        <td>{{flight.arrival_time}}</td>
        <td><button type="button" class="btn btn-primary">Select</button></td>
      </tr>
    </tbody>
  </table>